<%= stylesheet_link_tag 'jquery.jqplot.css', :plugin => 'redmine_burndown' %>

<div id="chart_content">
<h2><%= @version.name %> Burndown</h2>

<div id="jchart">

</div>
<button class="button-reset">Reset Zoom</button>
</div> 





