<%= stylesheet_link_tag 'jquery.jqplot.css', :plugin => 'redmine_burndown' %>

<div id="chart_content">
<h2><%= @version.name %> Burndown</h2>

<div style="width:100%; padding: 2px; text-align: right;">
  Click and drag on the plot to zoom. Double click to reset.
</div>
<div id="jchart">

</div>
<!-- <button class="button-reset">Reset Zoom</button> -->
</div>



