<%= stylesheet_link_tag 'jquery.jqplot.css', :plugin => 'redmine_burndown' %>

<div id="chart_content">
<% if defined?(for_external) %>
  <h2><%= @version.name %> Burndown</h2>
  <%= hidden_field_tag 'hidden_chart_data', @chart.data_and_dates %>
<% end %>
<% if BurndownChart.sprint_has_ended(@version) %>
  <h3>Chart out of date.</h3>
<% end %>
<div style="width:100%; padding: 2px; text-align: right;">
  Click and drag on the plot to zoom. Double click to reset.
</div>
<div id="jchart">

</div>
<!-- <button class="button-reset">Reset Zoom</button> -->
</div>





