<% unless version.nil? %>
  <h3>Sprint not started.</h3>
  <p>Click <%= link_to "here", start_sprint_burndown_path(project, version) %> to start sprint now.</p>
<% else %>
  <h3>No Sprint Started.</h3>
<% end %>
